.section-card {
  align-items: center;
  background-color: #171314;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: -8px 9px 16px -3px gray;
  box-sizing: border-box;
  display: flex;
  height: 80vh;
  justify-content: center;
  width: 50vh;
}

/* cor de fundo da carta */
.card-background {
  background-color: #bbb;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 96%;
  justify-content: stretch;
  width: 92%;
}

/* nome da carta */
h3 {
  background: linear-gradient(0deg, rgba(201, 216, 201, 0.3), rgba(201, 216, 209, 0.3));
  border-bottom: 4px solid darkgrey;
  border-left: 2px solid darkgray;
  border-radius: 9px;
  border-right: 1px solid white;
  border-top: 1px solid white;
  box-shadow: 0 0 0 2px #171314, 0 0 0 5px #26714a, -3px 3px 2px 5px #171314;
  margin-bottom: 2%;
  min-height: 30px;
  padding: 0.5vh;
  text-align: initial;
  text-transform: capitalize;
}

.p-super-trunfo {
  background-image: url('../../images/trunfo.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  /* color: green;
  text-transform: none; */
}

/* imagem da carta */
img {
  background-color: white;
  border: 2px solid black;
  /* box-shadow: 0 0 0 2px #171314, 0 0 0 5px #26714a, -3px 3px 2px 5px #171314; */
  display: flex;
  flex-basis: auto;
  max-height: 30vh;
  max-width: 100%;
  min-height: 30vh;
  min-width: 100%;
  object-fit: cover;
}

/* .card-info {
  background-color: #dba8acf8;
  margin-top: 0;
  min-height: 100%;
} */

/* descrição e atributo da carta */
.description-card {
  color: white;
  display: block;
  margin: 0 1% 2% 3%;
  text-align: left;
  text-transform: initial;
  width: 90%;
  word-wrap: break-word;
}

.div-attr {
  border-bottom: 4px solid darkgrey;
  border-left: 2px solid darkgray;
  border-right: 1px solid white;
  border-top: 1px solid white;
  box-shadow: 0 0 0 2px #171314, 0 0 0 5px #26714a, -3px 3px 2px 5px #171314;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  justify-content: center;
  margin-top: 1%;
  padding: 0.05vh;
}

p, h4 {
  /* background-color: #f2d7d9; */
  color: black;
  margin: 0 5%;
  padding: 1.5vh;
  text-align: center;
  text-transform: uppercase;
}

/* h4 {
  background-color: #d3cedf; 
  border: 1px solid #f2d7d9;
} */

p:last-child {
  border-radius: 0 0 9px 9px;
}

/* ---------------------------------- deque de cartas --------------- */
ul {
  border: 1px solid black;
  display: flex;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2%;
}

li h2 {
  display: none;
}

li .section-card {
  height: 50vh;
  width: 30vh;
}

li h3 {
  font-size: 16px;
  padding: 0.2vh;
}

li img {
  max-height: 16vh;
  min-height: 16vh;
}

li .description-card {
  font-size: 12px;
  padding: 1vh;
}

li p {
  font-size: 12px;
  padding: 0.5vh;
}

li h4 {
  font-size: 12px;
  padding: 0.7vh;
}
