h2 {
  margin-bottom: 3%;
  text-align: center;
}

.section-card {
  align-items: center;
  background-color: #F9ED69;
  border: 1px solid black;
  border-radius: 9px;
  box-shadow: -8px 9px 16px -3px gray;
  box-sizing: border-box;
  display: flex;
  height: 80vh;
  justify-content: center;
  width: 50vh;
}

/* cor de fundo da carta */
.card-background {
  background-color: #B83B5E;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 96%;
  justify-content: stretch;
  width: 92%;
}

/* nome da carta */
h3 {
  /* border: 2px solid white; */
  /* box-shadow: 0px 0px 5px 4px #888888; */
  border-radius: 9px;
  color: #f08a5d;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 1%;
  min-height: 30px;
  padding: 0.6vh;
  text-align: initial;
  text-transform: capitalize;
}

.p-super-trunfo {
  background-image: url('../../images/trunfo.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  color: #f9ed69;
  font-weight: 700;
}

/* imagem da carta */
img {
  background-color: white;
  border: 4px solid white;
  /* box-shadow: 0 0 0 2px #171314, 0 0 0 5px #26714a, -3px 3px 2px 5px #171314; */
  display: flex;
  flex-basis: auto;
  max-height: 30vh;
  max-width: 98%;
  min-height: 30vh;
  min-width: 98%;
  object-fit: cover;
}

/* .card-info {
  background-color: #dba8acf8;
  margin-top: 0;
  min-height: 100%;
} */

/* descrição e atributo da carta */
.description-card {
  background: #d3ded6b1;
  box-sizing: border-box;
  color: #6A2C70;
  /* display: block; */
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-around; */
  padding: 6vh;
  text-align: left;
  text-transform: initial;
  width: 90%;
  word-wrap: break-word;
}

.div-attr {
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 0.05vh;
}

p, h4 {
  /* background-color: #f2d7d9; */
  color: black;
  margin: 0 5%;
  padding: 1.5vh;
  text-align: center;
  text-transform: uppercase;
}

/* h4 {
  background-color: #d3cedf; 
  border: 1px solid #f2d7d9;
} */

p:last-child {
  border-radius: 0 0 9px 9px;
}

/* ---------------------------------- deque de cartas --------------- */
ul {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 5%; */
  width: 100%;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2%;
  margin-top: 5%;
}

li h2 {
  display: none;
}

li .section-card {
  height: 50vh;
  width: 30vh;
}

li h3 {
  font-size: 16px;
  margin-left: 1%;
  padding: 0.2vh;
}

li img {
  max-height: 16vh;
  min-height: 16vh;
}

li .div-attr {
  margin-bottom: 5%;
  margin-top: 5%;
}

li .description-card {
  font-size: 12px;
  margin-top: 5%;
  padding: 1vh;
}

li p {
  font-size: 12px;
  padding: 0.5vh;
}

li h4 {
  font-size: 10px;
  padding: 0.7vh;
}
