.form-fields {
  border: 1px solid purple;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 20px;
  width: 20%;
}

label {
  color: purple;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form-fields input, textarea, select {
  background-color: #dba8ac50;
  border: 0.9px solid purple;
  outline: 0;
  padding: 5px;
}

.className-input, .classCard-description {
  border-color: purple;
  border-width: 0 0 2px;
  outline: 0;
}

select {
  color: purple;
}

.checkbox-trunfo {
  border-color: purple;
}

button {
  background-color: purple;
  border: none;
  color: white;
  padding: 5px;
}
