.form-fields {
  border: 1px solid purple;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 20px;
  width: 50%;
}

label {
  display: flex;
  flex-direction: column;
}

.form-fields input, textarea, select {
  background-color: #dba8ac50;
  border: 0.9px solid purple;
  margin: 10px;
  outline: 0;
  padding: 5px;
}

.className-input, .classCard-description {
  border-color: purple;
  border-width: 0 0 2px;
  outline: 0;
}
