.form-fields {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 20px;
  width: 20%;
}

h2 {
  color: #748da6;
}

label {
  color: #748da6;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form-fields input, textarea, select {
  background-color: white;
  border: 0.9px solid #748da6;
  outline: 0;
  padding: 5px;
}

.className-input, .classCard-description {
  border-color: #748da6;
  border-width: 0 0 2px;
  outline: 0;
}

select {
  color: #748da6;
}

.checkbox-trunfo {
  border-color: #748da6;
}

button {
  background-color: #d3cedf;
  border: none;
  color: white;
  padding: 5px;
}

button:enabled {
  background-color: #748da6;
  cursor: pointer;
}

